/* .jumbotron {
	background-image : url(newspaper.jpg);
	background-repeat : no-repeat; 
	background-position : center;
	background-size : 100% 100%;
	background-attachment : fixed;
} */

h2 {
	color : white;
	text-shadow : 3px 3px 10px black;
	font-size : 54px;
}

p {
	color : white;
	text-shadow : 3px 3px 10px black;
	font-size : 24px;
}

body {
	background-color: #d6eaea;
}

.btn-success, .btn-warning {
	 float : right;
	 margin-top : -39px;
}